@font-face {
  font-family: "TT-Hoves-Trial-Medium";
  src: url("../fonts/TT-Hoves-Trial-Medium.ttf")format("truetype");
  font-weight: 800;
}

@font-face {
    font-family: "ITC";
    src: url("../fonts/ITC Souvenir Std Medium.otf") format("otf");
    font-display: swap;
    font-style: normal;
}