@import "../../styles/variable.scss";

.section2 {
  padding-top: 120px;
  padding-bottom: 50px;
}
.section2-container{
    width: 100%;
    max-width: 80vw;
}

.section2-container-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  grid-template-areas: 
  "1 2"; 
}

.what-is-container {
  grid-area: "1";

  text-align: start;
  padding: 200px 0;
  
}

.section2-heading-container{
    width: 600px;
    display: flex;
    flex-direction: column;
}

.section2-heading{
    @include heading2();
    width: 300px;
    color: $black-dull-heading-text-color;
}

.section2-description{
    @include heading-description2();
    width: 375px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    color: $black-dull-para-text-color;
}

.section2-button{
    @include black-btn();
    width: 200px;
}


.section2-button > span, svg {
  z-index: 999;
}

.section2-button::before {
  content: "";
  width: 0;
  height: 100%;
  z-index: 1;
  background-color: #e6c1a1;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  position: absolute;
  border-radius: 15px;
  left: 0;
}

.section2-button:hover::before {
  width: 100%;
}
.section2-button::after{
    content: "";
    width: 0;
    height: 100%;
    z-index: 99;
    background-color: #6464df;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    position: absolute;
    border-radius: 15px;
    left: 0;
    transition-delay: 60ms;
}

.section2-button:hover::after {
    width: 100%;
  }


.scroller{
    grid-area:"2";
    background-color: #e6c1a1;

}


@media only screen and (max-width: 800px) {





.section2-container-grid-container {

  flex-direction: column;
}

.section2 {

  padding-top: 127px;
  padding-bottom: 12px;
}

.what-is-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90%;
}

.section2-heading-container {
 
  width: 111%;
}

.section2-container {
  
  height: fit-content;
}

.section2-heading {

  font-size: 24px;
}

.scroller {
  display: none;
}

}