@import "../../styles/variable.scss";

.section3 {
  width: 80vw;
  padding: 150px 300px;
//   text-align: center;
}

.section3-card-container {
  position: relative;
  z-index: 2;
  width: 50%;
  height: 25vh;

margin: auto;
//   perspective-origin: 50% 0;
//   transform-origin: 50% 0;
  color: #e5e0d7;
  background-color: #1f1e1d;
  background-image: linear-gradient(270deg, #1f1e1d 50%, transparent 73%),
    url(https://images.unsplash.com/photo-1584706450935-adfccf1b6767?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
  background-position: 0 0, 0%;
  background-repeat: repeat, no-repeat;
  background-size: auto, 50%;
  border-radius: 24px;
  padding-top: 96px;
  padding-bottom: 96px;
  padding-left: 50%;
  overflow: hidden;
  transform-style: preserve-3d;
}


.section3-card-description{
    display: flex;
    flex-direction: column;
    align-items: start;
    // margin-left:100px ;
    row-gap: 20px;
    transform: translateZ(100%);
}

.big-card-heading{
    font-family: $itc-font;
    font-size: 36px;
    font-weight: 700;
    color: #dfdbcfeb;
}

.big-card-description{
    font-family: $hoves-font;
    font-size: 18px;
    width: 80%;
    text-align: start;
    color: #cbc7bed0;
    
}

.section3-button{
  @include black-btn();
  width: 300px;
}

.section3-button > span, svg {
  z-index: 999;
}


.section3-button::before {
  content: "";
  width: 0;
  height: 100%;
  z-index: 1;
  background-color: #e6c1a1;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  position: absolute;
  border-radius: 15px;
  left: 0;
}

.section3-button:hover::before {
  width: 100%;
}
.section3-button::after{
    content: "";
    width: 0;
    height: 100%;
    z-index: 99;
    background-color: #6464df;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    position: absolute;
    border-radius: 15px;
    left: 0;
    transition-delay: 60ms;
}

.section3-button:hover::after {
    width: 100%;
  }


  @media only screen and (max-width: 800px) {


/* Inline #5 | http://localhost:3000/ */

.section3 {
  /* width: 80vw; */
  /* padding: 150px 300px; */
  width: 93vw;
  padding: 0;
}

.section3-card-container {
  /* width: 50%; */
  /* height: 25vh; */
  /* background-image: linear-gradient(270deg, #1f1e1d 50%, transparent 73%), url(https://images.unsplash.com/photo-1584706450935-adfccf1b6767?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80); */
  /* background-position: 0 0, 0%; */
  /* background-size: auto, 50%; */
  /* padding-top: 96px; */
  /* padding-bottom: 96px; */
  /* padding-left: 50%; */
  width: 75%;
  height: 20vh;
  background-image: linear-gradient(transparent 27%,#1f1e1d 50%), url(https://images.unsplash.com/photo-1584706450935-adfccf1b6767?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
  background-position: 0 0,80% 200%;
  background-size: auto, 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 300px 25px 75px;
}

.section3-card-description {
  /* align-items: start; */
  align-items: center;
}

.big-card-heading {
  /* font-size: 36px; */
  font-size: 26px;
}

.big-card-description {
  /* font-size: 18px; */
  /* width: 80%; */
  /* text-align: start; */
  font-size: 13px;
  width: 87%;
  text-align: center;
}

.section3-button {
  /* width: 97%; */
  /* width: 300px; */
  width: 59%;
  width: 201px;
  font-size: 13px;
}

  }