@import "../../styles/variable.scss";

.section9 {
  padding: 1100px auto;
}

.section9-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.s9-heading {
  @include heading2();
}

.s9-description {
  @include heading-description2();
  margin-top: 10px;
}

.s9-c-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f5efe6;
  border: 1px dashed rgba(61, 59, 56, 0.25);
  border-radius: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 0;
  display: grid;
  overflow: hidden;
  height: 525px;
  padding: 10px 30px;
  width: 70vw;
  margin-top: 50px;
}

.col-1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  flex-direction: column;
  justify-content: start;
  display: flex;
}

.col-1-1 {
  border-bottom: 1px dashed rgba(61, 59, 56, 0.25);
}

.col-1-1-1 {
  color: #bd8453;
  background-color: #f0e1d1;
  border-radius: 60px;
  padding: 6px 12px;
  font-weight: 500;
  display: inline-block;
}
.padding-bottom-1 {
  padding: 20px;
}

.padding-top-1 {
  padding-top: 30px;
}

.col-1-1-1-1 {
  margin-top: 12px;
  padding-left: 9px;
  font-weight: 500;
  text-align: start;
  padding-bottom: 10px;
  width: 300px;
}

.col-1-1-1-2 {
  justify-content: start;
  align-items: center;
  display: flex;
}

.col-1-1-1-2 > img {
  width: 54px;
  height: 54px;
  background-color: rgba(0, 0, 0, 0.15);
  border: 4px solid #e6c1a1;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

.s9-name {
  font-weight: 600;
  color: #2e2d2b;
}

.s9-designation {
  color: #2e2d2b;
  font-size: 13px;
}

.no-border {
  border: none;
}

.col-2 {
  height: auto;
  border-left: 1px dashed rgba(61, 59, 56, 0.25);
  padding: 12px;
  overflow: hidden;
  position: relative;
}

#video-profile-img {
  z-index: 1;
  max-width: 100%;
  width: 95%;
  height: 110%;
  object-fit: cover;
  background-color: #f5efe6;
  border-style: none;
  border-radius: 12px;
}

#play-btn {
  position: absolute;
  z-index: 2;
  width: 56px;
  height: 56px;
  background-color: #f5efe6;
  border-style: none;
  border-radius: 12px;
  right: 40px;
  top: 20px;
}

.col-3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  height: auto;
  border-left: 1px dashed rgba(61, 59, 56, 0.25);
  padding: 12px;
  overflow: hidden;
  position: relative;
}

#video-img2 {
  z-index: 1;
  max-width: 100%;
  width: 95%;
  height: 70%;
  object-fit: cover;
  background-color: #f5efe6;
  border-style: none;
  border-radius: 12px;
}

.col-4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  height: auto;
  border-left: 1px dashed rgba(61, 59, 56, 0.25);
  padding: 12px;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 800px) {




.s9-heading {
  font-size: 24px;
  width: 60%;
  margin: auto;
  
}

.s9-description {
  width: 70%;
  margin:  20px auto;
}

  .s9-c-2 {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .padding-bottom-1 {
    padding: 15px;
  }



  .col-1-1-1-1 {
    margin-top: 12px;
    padding-left: 0;
    font-weight: 500;
    text-align: start;
    padding-bottom: 10px;
    width: 100%;
  }
  .col-2 {
    height: 100%;
    border-left: none;
    border-bottom: 1px dashed rgba(61, 59, 56, 0.25);
    border-top: 1px dashed rgba(61, 59, 56, 0.25);
    padding: 20px 0 40px;
    overflow: hidden;
    position: relative;
    margin: 20px 0;
  }

  #play-btn {
    right: 29px;
    top: 33px;
  }

  #video-img2 {

    width: 100%;
    height: 100%;
  }


  .col-3 {
    border-left: none;
    border-bottom: 1px dashed rgba(61, 59, 56, 0.25);
    padding: 11px 8px 20px;
  }

  .col-4 {
    border-left:none ;
  }
}
